@font-face {
    font-family: arabicfont;
    src: url("./../fonts/LPMQ.ttf");
}

.terjemah {
    color: grey;
    font-size: smaller;
}

.arabic {
    text-align: right;
    font-family: arabicfont;
    font-size: 38pt;
    line-height: 2.3;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.navbar {
    height: 10vh;
}

.jumbotron {
    margin: 0;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sidebar-wrapper {
    z-index: 5;
}